## load shared objects
useDynLib(bayesQR)

## functions available to user
export(bayesQR, prior)

## register S3 methods
S3method(plot, bayesQR)
S3method(predict, bayesQR)
S3method(print, bayesQR.summary)
S3method(summary, bayesQR)
